<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}WCAG Compliance Checker | Team{% endblock %}
<html>

<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <meta name="description" content="Wireframe design of a cover page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe cover">
  <meta name="author" content="Pingendo">
  
  <!-- CSS dependencies -->
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }} /templates/wireframe.css">
  
{% endblock %}
</head>

{% block content %}
<body class="text-center bg-dark">
  <nav class="navbar navbar-expand-md bg-warning navbar-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/home"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/home/team"><b>The Team</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-warning py-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="{% static "assets/images/WCAG Compliance Checker.png" %}" height="4"></div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">About the Team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-6 p-4">
		
		<img class="d-block mb-3 mx-auto rounded-circle img-fluid" src="{% static "assets/images/IMG_9140.JPG" %}" width="300" alt="Card image cap" height="300">
        
		<h4> <b>Imra Maududi</b></h4>
          <p class="mb-0">Project Planner</p>
        </div>
        <div class="col-lg-4 col-6 p-4" style="">
			<img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="{% static "assets/images/IMG_9160.JPG" %}" width="300" alt="Card image cap">
          <h4> <b>Lisa Egede</b></h4>
          <p class="mb-0">Front End Developer</p>
        </div>
        <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="{% static "assets/images/IMG_9147.JPG" %}" width="300">
          <h4> <b>Noah La Fon</b></h4>
          <p class="mb-0">Back End Developer</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="{% static "assets/images/IMG_9153.JPG" %}" width="300" alt="Card image cap">
          <h4> <b>Steven Traitor Tucker</b></h4>
          <p class="mb-0" contenteditable="true">Moral Support</p>
        </div>
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="{% static "assets/images/IMG_9144.JPG" %}" width="300" height="300">
          <h4> <b>John Fake Alberse</b></h4>
          <p class="mb-0" contenteditable="true">Back End Developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p style="" class="">The University of Oklahoma<br>Human Computer Interaction - Spring 2019</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
</body>
{% endblock %}
</html>
